/* RESET */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
    font-family: "Mooli";
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/*
9. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}

/* *********************************************************************************************************************************** */

:root {
    --high-priority-color: rgb(197, 4, 4);
    --medium-priority-color: rgb(255, 149, 0);
    --low-priority-color: rgb(4, 203, 115);
}

.background {
    position: fixed;
    z-index: -1000;
    width: 100%;
    height: 100%;
    background: url("./berlin.jpg");
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    z-index: 5000;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 0.7rem;
    background-color: rgba(255, 255, 255, 0.78);
    box-shadow: 1.5px 1.5px 5px 2px rgba(0, 0, 0, 0.372);
}

/* .header-message-fade {
    transition: opacity 1s ease-in;
} */

header h1 {
    /* fade out after page load */
    transition: opacity 0.7s ease-in;
}

nav {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

nav button {
    width: 20%;
    /* background-color: rgb(77, 139, 190); */
    background: linear-gradient(to bottom right, white, 0.5%, rgb(77, 139, 190));
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 3px 0.3px rgba(0, 0, 0, 0.353);
    /* fade in on page load */
    transition: opacity 0.7s ease-in;
}

#nav-home-button, #nav-settings-button, #nav-my-lists-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-my-lists-button p {
    font-weight: 900;
    font-size: 0.78rem;
    letter-spacing: 0.05rem;
    text-shadow: 0.2px 0.2px 1px rgba(0, 0, 0, 0.287);
    color: white;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 80px;
    width: 100%;
    height: auto;
}

.first-visit-content-fade-in {
    transition: opacity 0.7s ease-in;
}

.list-container {
    box-shadow: inset 1px 1px 5px 1px rgba(0, 0, 0, 0.482);
    padding: 0px 0px 17px 0px;
    background-color: rgba(255, 255, 255, 0.885);
    width: 80%;
    height: 70%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.list-header {
    font-size: 1.4rem;
    font-weight: 800;
    width: 100%;
    padding: 8px;
    text-align: center;
    border-radius: 25px 25px 0px 0px;
    /* border-bottom: 1px solid black; */
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.343);
    background-color: rgb(25, 97, 199);
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.258);
}

.list-options {
    width: 90%;
    display: flex;
    justify-content: start;
    gap: 20px;
}

.list-options button {
    width: 35%;
    border-radius: 20px;
    background-color: rgb(25, 97, 199);
    color: white;
    border: none;
    font-size: 0.7rem;
    padding: 5px;
    box-shadow: 2px 2px 3px 0.3px rgba(0, 0, 0, 0.353);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.638);
}

#sort-by {
    width: fit-content;
    text-align: center;
    border-radius: 20px;
    background-color: rgb(25, 97, 199);
    color: white;
    border: none;
    font-size: 0.7rem;
    padding: 5px;
    box-shadow: 2px 2px 3px 0.3px rgba(0, 0, 0, 0.353);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.638);
}

#sort-toggle-button {
    width: 10%;
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sort-toggle-button img {
    width: 100%;
}

.list {
    width: 90%;
    display: grid;
    overflow: scroll;
    gap: 25px;
}

.todo {
    position: relative;
    height: 250px;
    padding: 5px 5px 15px 5px;
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.536);
    border-radius: 10px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.12);
}

.todo-header {
    display: flex;
    flex-direction: column;
    height: 20%;
    gap: 10px;
    font-size: 0.85rem;
}

.card-task-number {
    color: white;
    position: absolute;
    width: 40px;
    height: 25px;
    top: 0px;
    left: 0px;
    letter-spacing: 0.1rem;
    display: flex;
    justify-content: center;
    text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.237);
    align-items: center;
    outline: 1px solid rgba(0, 0, 0, 0.536);
    border-radius: 10px 2px 10px 2px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.253);
}

.card-task-number p {
    font-size: 0.9rem;
    font-weight: 700;
}

.todo-title {
    width: 100%;
    text-align: center;
}

.edit-button {
    width: 30px;
    position: absolute;
    right: 10px;
    top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    padding: 5px;
    grid-column: 3;
    border-radius: 20px;
}

.details {
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.details div {
    /* border: 1px solid black; */
    border-radius: 20px;
    font-size: 0.6rem;
    font-weight: 600;
    padding: 2px;
    border: 1.5px solid rgb(137, 71, 204);
    text-shadow: 0.1px 0.1px .1px rgba(0, 0, 0, 0.767);
}

.priority p {
    text-shadow: 0.1px 0.1px .1px rgba(0, 0, 0, 0.767);
}

.todo p {
    grid-row: 2;
    grid-column: 1 / 4;
    text-align: center;
    padding: 0px 10px;
}

.notes-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 90%;
    height: 50%;
}

.notes-container label {
    position: absolute;
    top: -5px;
    left: 10px;
    color: rgba(0, 0, 0, 0.622);
    font-size: 0.7rem;
}

.notes-container textarea {
    padding-left: 8px;
    padding-top: 3px;
    width: 100%;
    height: 90%;
    border-radius: 10px;
    font-size: 0.85rem;
    border: 1px solid rgba(0, 0, 0, 0.237);
    box-shadow: inset 0.2px 0.2px 2px 1px rgba(0, 0, 0, 0.104);
}

.notes-container textarea:focus {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.335);
    box-shadow: inset 1px 1px 2px 1px rgba(0, 0, 0, 0.142);
}

.completed-button {
    border-radius: 20px;
    width: 60%;
    height: 12%;
    font-size: 0.7rem;
}

.completed-check-mark {
    position: absolute;
    top: 5px;
    left: 15px;
    width: 12%;
}

.completed-message {
    position: absolute;
    top: 42%;
    left: 25%;
    width: 50%;
    height: 16%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-weight: 600;
}

/* container for message when there are no taks */
.empty-list-message {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/************ DIALOG STYLES *************/

#add-new-task-dialog, #edit-task-dialog, #add-new-list-dialog, #edit-list-dialog {
    position: fixed;
    z-index: 200;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    border-radius: 20px;
    border: none;
}

.modal-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.29);
}

#add-new-task-dialog form, #edit-task-dialog form, #add-new-list-dialog form, #edit-list-dialog form {
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.close-dialog-button, .close-edit-dialog-button, .close-new-list-dialog-button, .close-edit-list-dialog-button {
    position: absolute;
    right: 20px;
    width: 8%;
    height: auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.task-info, .edited-task-info, .edit-list-info {
    position: relative;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}

.task-info > div, .edited-task-info > div {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.task-info > div > label, #add-new-task-dialog form legend, .edited-task-info > div > label, #edit-task-dialog form legend, .new-list-info > label, #add-new-list-dialog form legend {
    font-weight: 550;
    position: relative;
    left: 5px;
}

.new-priority-form-container fieldset, .edited-priority-form-container fieldset {
    padding: 0px;
    border: none;
    display: flex;
    flex-direction: column;
}

.priority-option-buttons, .edited-priority-option-buttons {
    position: relative;
    left: 5px;
    margin-top: 10px;
    display: flex;
    gap: 20px;
}

.priority-option-buttons input, .edited-priority-option-buttons input {
    appearance: none;
    
}

.priority-option-buttons div:first-child label, .edited-priority-option-buttons div:first-child label {
    color: var(--high-priority-color);
}

.priority-option-buttons div:nth-child(2) label, .edited-priority-option-buttons div:nth-child(2) label {
    color: var(--medium-priority-color);
}

.priority-option-buttons div:last-child label, .edited-priority-option-buttons div:last-child label {
    color: var(--low-priority-color);
}

.color-transition {
    transition: background-color 0.7s ease;
}

.priority-option-buttons > div:first-child > button, .edited-priority-option-buttons > div:first-child > button {
    background-color: white;
    border: 1.2px solid var(--high-priority-color);
}

.priority-option-buttons > div:nth-child(2) > button, .edited-priority-option-buttons > div:nth-child(2) > button {
    background-color: white;
    border: 1.2px solid var(--medium-priority-color);
}

.priority-option-buttons > div:last-child > button, .edited-priority-option-buttons > div:last-child > button {
    background-color: white;
    border: 1.2px solid var(--low-priority-color);
}

.edited-completed-button {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgb(47, 181, 93);
    /* border: 1.2px solid rgb(47, 181, 93); */
    border: 1.2px solid black;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.417);
}

.submit-new-task-form-button, .submit-edited-task-form-button, .submit-new-list-button, .submit-edit-list-button {
    width: 50%;
    height: 40px;
    background: linear-gradient(to bottom right, white, 0.5%, rgb(25, 97, 199));
    color: white;
    font-weight: 570;
    letter-spacing: 0.03rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.551);
    border: none;
    box-shadow: 1.5px 1.5px 4px 0.5px rgba(0, 0, 0, 0.419);
}

/*********** My Lists Page ***********/

.my-lists-container {
    position: relative;
    background-color: rgba(255, 255, 255, 0.885);
    width: 90%;
    height: auto;
    padding: 10px 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    box-shadow: inset 1px 1px 5px 1px rgba(0, 0, 0, 0.482);
}

.my-lists {
    width: 100%;
    height: 100%;
    gap: 20px;
    padding: 10px;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fit, 1fr);
}

.list-card {
    position: relative;
    background: linear-gradient(to bottom right, rgba(85, 85, 85, 0.356), 0.7%, white);
    /* color: white; */
    height: 150px;
    border-radius: 20px;
    padding: 0px 10px;
    /* border: 2px solid rgb(25, 97, 199); */
    border-bottom: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
    font-size: 0.8rem;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.4);
}

.my-list-options {
    border-bottom: 2px solid black;
}

.list-card-title {
    border-radius: 20px 20px 0px 0px;
    border-bottom: 1px solid black;
    padding: 3px;
    width: calc(100% + 20px);
    color: white;
    background-color: rgb(25, 97, 199);
    /* background: linear-gradient(to bottom right, white, 7%, rgb(25, 97, 199)); */
}

.list-card p {
    /* text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.767); */
    font-weight: 600;
}

.my-list-options {  
    width: 90%;
}

.new-list-button {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 20%;
    border-radius: 20px;
    background: linear-gradient(to bottom right, white, 5%, rgba(19, 152, 28, 0.878));
    color: white;
    border: none;
    font-size: 0.7rem;
    padding: 5px;
    font-weight: 600;
    box-shadow: inset 0.7px 0.7px 2px 0.5px rgba(0, 0, 0, 0.482);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.638);
}

#add-new-list-dialog {
    height: 50%;
    top: 20%;
}

#add-new-list-dialog form {
    justify-content: space-between;
}

.new-list-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.new-list-info label {
    font-weight: 575;
}

.submit-new-list-button {
    width: 60%;
    border-radius: 5px;
}

.my-list-settings-button {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 40px;
    background-color: transparent;
    border: none;
}

.my-list-settings-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.449);
}

.edit-list-button {
    background-color: rgba(25, 97, 199, 0.87);
    color: white;
    position: absolute;
    top: 35%;
    left: 25%;
    border-radius: 10px;
    margin-top: -10px;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.552);
}

#edit-list-dialog {
    position: relative;
    top: 20%;
    height: 60%;
}

.edit-list-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60%;
    gap: 40px;
}

.edit-list-info button {
    /* margin-top: -10px; */
    /* color: white; */
    position: relative;
    width: 60%;
    height: 15%;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 1.5px 1.5px 5px 1px rgba(0, 0, 0, 0.273);
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.422);
}

.rename-list-button {
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.198), 5%, rgb(37, 157, 109));
    color: white;
    border: none;
    font-weight: 600;
}

.remove-list-button {
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.198), 5%, rgb(250, 40, 68));
    color: white;
    border: none;
    font-weight: 600;
}

.home-list-button {
    /* background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.198), 5%, rgb(77, 139, 190)); */
    background: white;
    border: 2px solid rgb(77, 139, 190);
    color: rgba(61, 61, 61, 0.35);
    font-weight: 500;
}

.home-list-button p {
    color: rgb(77, 139, 190);
    position: absolute;
    left: -60px;
    font-size: 0.75rem;
    text-shadow: none;
    transition: opacity 1s ease;
}

.home-list-icon {
    position: absolute;
    width: 12%;
    left: 15px;
}

.confirm-remove-container {
    width: 100%;
    display: flex;
    gap: 10%;
    font-size: 0.7rem;
}

.confirm-remove-container button:first-child {
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.198), 5%, rgb(250, 40, 68));
    color: white;
    border: none;
}

.confirm-remove-container button:last-child {
    color: rgb(82, 82, 82);
    background: rgb(239, 239, 239);
    font-weight: 550;
    letter-spacing: 0.02rem;
    /* border: none; */
    border: 1px solid rgb(171, 171, 171);
    box-shadow: inset 1.5px 1.5px 5px 1px rgba(0, 0, 0, 0.436);
}

#edit-title-input {
    text-align: center;
}

#edit-title-input:focus {
    outline: none;
}

/*********** Settings Page ***********/

.settings-container {
    position: relative;
    background-color: rgba(0, 0, 0, 0.732);
    color: white;
    width: 90%;
    height: auto;
    padding: 20px 0px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    box-shadow: inset 1px 1px 5px 1px rgba(0, 0, 0, 0.482);
}

.wallpapers-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border-radius: 20px;
}

.wallpapers-section h3 {
    width: 80%;
    color: rgba(0, 0, 0, 0.757);
    color: white;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
    text-align: center;
}

.wallpapers-collection {
    width: 100%;
    height: 100%;
    gap: 30px;
    padding: 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fit, 1fr);
    /* background-color: rgb(0, 0, 0); */
    border-radius: 20px;
}

.wallpaper {
    position: relative;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.wallpaper img {
    height: 250px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.304);
    transition: outline 0.3s ease;
    outline: 1.7px solid rgba(255, 255, 255, 0.752);
}

.wallpaper p {
    font-size: 0.9rem;
    font-weight: 600;
    transition: color 0.3s ease;
}

.selected-wallpaper img {
    outline: 6px solid rgb(25, 97, 199);
}

.selected-wallpaper p {
    position: relative;
    top: 4px;
    /* color: rgb(25, 97, 199); */
    text-shadow: 0px 0px 5px rgb(25, 97, 199);
}